<header>
  <script type="text/javascript" src="/js/user.js" defer></script>
  <%# initialize script for google maps %>
  <script
    src="<%='https://maps.googleapis.com/maps/api/js?key=' + process.env.GEOCODER_API_KEY + '&callback=initMap&v=weekly'%>"
    defer
  ></script>
  <script src="/js/map.js"></script>
  <%# end script for google maps %>
  <section class="general-header">
    <nav>
      <a href="/"><img src="/images/mayday_logo.png" alt="#" /></a>
      <div class="nav-links">
        <ul>
          <li><a href="/">LOGOUT</a></li>
        </ul>
      </div>
    </nav>
  </section>
</header>
<div class="container">
  <div class="form-uheader">
    <h1>
      Welcome <%if (typeof user != 'undefined'){%> <%= user.username %> ! <% }
      %>
    </h1>
    <h2>Let's evaluate your choices.</h2>
  </div>
  <% if (typeof alert != 'undefined'){ %> <% alert.forEach(function(error, i) {
  %>

  <div class="user-alert" role="alert" id="num<%=i%>">
    <div class="alert-message"><%- error.msg %></div>
    <span class="closebtn" onclick="this.parentElement.style.display='none';"
      >&times;</span
    >
  </div>

  <% }); %> <% } %>
</div>
<div class="container">
  <div class="dropdown">
    <div class="dropdown-map">
      <button onclick="openDropdown('map')" class="drop_btn" method="post">
        <img src="/images/map.png" alt="#" />
        <h1>Where would you like to visit today?</h1>
      </button>
    </div>
    <div class="dropdown-patient">
      <button onclick="openDropdown('patient')" class="drop_btn">
        <img src="/images/patient.png" alt="#" />
        <h1>Do you have Covid? Please let us know.</h1>
      </button>
    </div>
    <div class="dropdown-edit">
      <button onclick="openDropdown('edit')" class="drop_btn">
        <img src="/images/edit.png" alt="#" />
        <h1>Edit your profile</h1>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div id="menu" class="dropdown-menu">
    <div class="dropdown-item" id="item-map">
      <span
        class="closebtn2"
        onclick="this.parentElement.parentElement.style.display='none';"
        >&times;</span
      >
      <div class="horizontal-group_user_map">
        <div class="left">
          <div class="center-left">
            <button class="btn" id="makeMarker" onclick="makeMarker()">
              Find
            </button>
            <button class="btn" id="deleteMarkers" onclick="deleteMarkers()">
              Delete
            </button>
            <div id="map"></div>
            <%# script for maps API %> <%# END script for maps API %>
            <div class="input-container stack-top">
              <input
                type="text"
                id="findPlaces"
                class="input"
                name="findPlaces"
                placeholder="Search Places"
              />
              <!--<div class="cut cut-medium"></div>
              <label for="findPlaces" class="placeholder changed"
                >Search Places</label
              >-->
            </div>
          </div>
        </div>
        <div class="right">
          <form>
            <div class="form">
              <div class="title">Presence Statement</div>
              <div class="input-container ic1">
                <input
                  id="poiname"
                  name="poiname"
                  class="input"
                  type="text"
                  placeholder=" "
                  required="required"
                />
                <div class="cut cut-short"></div>
                <label for="poiname" class="placeholder">POI Name</label>
              </div>
              <div class="input-container ic2">
                <input
                  id="population"
                  name="population"
                  class="input"
                  type="number"
                  placeholder=" "
                />
                <div class="cut"></div>
                <label for="population" class="placeholder"
                  >Estimated Number of People</label
                >
              </div>
              <button
                type="submit"
                formmethod="post"
                formaction="/login/user/<%=user._id %>/registerVisit"
                class="submit"
              >
                submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%# Covid cace form %>
    <div class="dropdown-item" id="item-patient">
      <span
        class="closebtn2"
        onclick="this.parentElement.parentElement.style.display='none';"
        >&times;</span
      >
      <div id="patient">
        <form>
          <div class="form">
            <div class="title">Report Your Covid Case</div>
            <div class="input-container ic1">
              <input
                id="date"
                name="date"
                class="input"
                type="date"
                required="required"
              />
              <div class="cut cut-short"></div>
              <label for="poiname" class="placeholder">POI Name</label>
            </div>
            <button
              type="submit"
              formmethod="post"
              formaction="/login/user/<%=user._id %>/covid"
              class="submit"
            >
              submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <%# End covid cace form %> <%# Edit profile form %>
    <div class="dropdown-item" id="item-edit">
      <span
        class="closebtn2"
        onclick="this.parentElement.parentElement.style.display='none';"
        >&times;</span
      >
      <div id="edit">
        <form>
          <div class="change-info-form">
            <div class="title">Edit Profile</div>

            <div class="input-container ic2">
              <input
                type="text"
                id="username"
                name="username"
                class="input"
                placeholder=" "
              />
              <div class="cut cut-username"></div>
              <label for="poiname" class="placeholder">New Username</label>
            </div>

            <div class="input-container ic2">
              <input
                type="text"
                id="confirm_username"
                name="confirm_username"
                class="input"
                placeholder=" "
              />
              <div class="cut cut-confirm-username"></div>
              <label for="poiname" class="placeholder"
                >Confirm New Username</label
              >
            </div>

            <div class="input-container ic1">
              <input
                type="password"
                id="password"
                name="password"
                class="input"
                placeholder=" "
              />
              <div class="cut cut-username"></div>
              <label for="poiname" class="placeholder">New Password</label>
            </div>

            <div class="input-container ic2">
              <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                class="input"
                placeholder=" "
              />
              <div class="cut cut-confirm-username"></div>
              <label for="poiname" class="placeholder"
                >Confirm New Password</label
              >
            </div>

            <button
              type="button"
              class="submit left green"
              onclick="openHistoryLogin()"
            >
              View Your Login History
            </button>
            <button
              type="button"
              class="submit right green"
              onclick="openHistoryCovid()"
            >
              View Your Covid History
            </button>

            <button
              type="submit"
              formmethod="post"
              formaction="/login/user/<%=user._id %>/editProfile"
              class="submit"
            >
              submit
            </button>
          </div>
        </form>
        <div
          id="history-links-login"
          class="history-links"
          style="display: none"
        >
          <% if (typeof loginHistory != 'undefined'){ %>
          <div class="horizontal-group-profile">
            <ul>
              <li>
                You have logged in a total of <%= loginHistory.length %> times
              </li>
            </ul>
            <% loginHistory.forEach(function(error, i) { %>
            <ul>
              <li>
                <div class="left">
                  &diams; <%= loginHistory[i].day + '/'%> <%=
                  loginHistory[i].month + '/'%> <%= loginHistory[i].year%>
                </div>
                <div class="right">
                  <%= loginHistory[i].hours%> <%= ' : ' +
                  loginHistory[i].minutes%>
                </div>
              </li>
            </ul>
            <% }); %>
          </div>
          <% }else{ %> You don't have a login history Yet <% } %>
        </div>
        <div
          id="history-links-covid"
          class="history-links"
          style="display: none"
        >
          <% if (typeof covidHistory != 'undefined'){ %>
          <div class="horizontal-group-profile">
            <ul>
              <li>
                You have had the covid virus a total of <%= covidHistory.length
                %> times
              </li>
            </ul>
            <% covidHistory.forEach(function(error, i) { %>
            <ul>
              <li>
                <div class="left">
                  &diams; <%= covidHistory[i].day + '/'%> <%=
                  covidHistory[i].month + '/'%> <%= covidHistory[i].year%>
                </div>
              </li>
            </ul>
            <% }); %>
          </div>
          <% }else{ %> You don't have a covid history Yet <% } %>
        </div>
      </div>
    </div>
    <%# End Edit profile form %>
  </div>
</div>
